<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        List Anjing Galak
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list>
  
      <div class="list">
        <div class="thumbnail">
          <img
            src="https://awsimages.detik.net.id/visual/2019/04/15/4d145913-c2d9-4f67-a787-2bcc623b3cc7_169.jpeg?w=650">
        </div>
        <div class="content">
          <h3>Kintamani</h3>
        </div>
      </div>
  
      <div class="list">
        <div class="thumbnail">
          <img src="https://asset.winnetnews.com/uploads/images/2%28283%29.jpg">
        </div>
        <div class="content">
          <h3>German Shepherd</h3>
        </div>
      </div>
  
      <div class="list">
        <div class="thumbnail">
          <img src="https://asset.winnetnews.com/uploads/images/3%28270%29.jpg">
        </div>
        <div class="content">
          <h3>Rottweiler</h3>
        </div>
      </div>
  
      <div class="list">
        <div class="thumbnail">
          <img
            src="https://asset.winnetnews.com/uploads/images/4%28223%29.jpg">
        </div>
        <div class="content">
          <h3>Pit Bull</h3>
        </div>
      </div>
  
      <div class="list">
        <div class="thumbnail">
          <img
            src="https://asset.winnetnews.com/uploads/images/5%28201%29.jpg">
        </div>
        <div class="content">
          <h3>Great Dane</h3>
        </div>
      </div>
  
      <div class="list">
        <div class="thumbnail">
          <img src="https://asset.winnetnews.com/image/cache/slide/post/image-15-anjing-paling-galak-di-seluruh-dunia-berani-deket-deket-.jpg?v=1492318892">
        </div>
        <div class="content">
          <h3>Siberian Husky</h3>
        </div>
      </div>
  
    </ion-list>
  </ion-content>